{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="This is a Little Lemon description">
        <meta name="keywords" content="little, lemon, menu, restaurant">
        {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'restaurant/css/styles.css' %}"> {% endcomment %}
        {% tailwind_css %}
        <title>
            {% block title %}
                Little Lemon
            {% endblock title %}
        </title>
    </head>
    <body>
        {% include "restaurant/navbar.html" %}
        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>
        <div class="footer">
            <p>&copy; 2024 Little Lemon. All rights reserved.</p>
        </div>
    </body>
</html>
